#content{
    background-color: orange;
    height:602px;
    }
    .a-n{
    background-color: white;
    }
    #developed{
    background-color: white;
    color: tomato;
    font-size: 21px;
    }